.App{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url(https://a-static.besthdwallpaper.com/goku-dark-wallpaper-1366x768-105653_46.jpg);
}

.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.712);
}